= inspector_table facts, :first, :last, :link => false, :key_title => :fact,
    :value_title => :value, :caption => "Current inventory for #{node.name} #{facts_timestamp ? "as of #{facts_timestamp}" : ""}"
